.img_gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.x2,.x3,.x4,.x5 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 4px;
	overflow: hidden;
}
.x2 {
	flex-basis: calc(50% - 8px);
}
.x3 {
	flex-basis: calc(33% - 8px);
}
.x4 {
	flex-basis: calc(25% - 8px);
}
.x5 {
	flex-basis: calc(20% - 8px);
}
.x2 img,.x3 img,.x4 img,.x5 img {
	min-width: 100%;
	object-fit: cover;
}
@media screen and (max-width: 500px) {
	.x3,.x4,.x5 {
		flex-basis: calc(50% - 8px);
	}
}
@media screen and (max-width: 300px) {
	.x2,.x3,.x4,.x5 {
		flex-basis: calc(100% - 8px);
	}
}

.overlay {
	position: absolute;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 2em;
	opacity: 0;
	z-index: 5;
}
.overlay:hover {
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.icon-zoom-in {
	width: 15%;
	padding-bottom: 15%;
	background: url('https://rawcdn.githack.com/Elliotsmith/totalnerd/master/addons/zoom-in2.svg');
	background-repeat: no-repeat;
}
.img_gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.x2,.x3,.x4,.x5 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 4px;
	overflow: hidden;
}
.x2 {
	flex-basis: calc(50% - 8px);
}
.x3 {
	flex-basis: calc(33% - 8px);
}
.x4 {
	flex-basis: calc(25% - 8px);
}
.x5 {
	flex-basis: calc(20% - 8px);
}
.x2 img,.x3 img,.x4 img,.x5 img {
	min-width: 100%;
	object-fit: cover;
}
@media screen and (max-width: 500px) {
	.x3,.x4,.x5 {
		flex-basis: calc(50% - 8px);
	}
}
@media screen and (max-width: 300px) {
	.x2,.x3,.x4,.x5 {
		flex-basis: calc(100% - 8px);
	}
}

.overlay {
	position: absolute;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 2em;
	opacity: 0;
	z-index: 5;
}
.overlay:hover {
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
.icon-zoom-in {
	width: 15%;
	padding-bottom: 15%;
	background: url('https://rawcdn.githack.com/Elliotsmith/totalnerd/master/addons/zoom-in2.svg');
	background-repeat: no-repeat;
}
